{% extends 'base.html' %}
{% block content %}
<!-- ##### Main Area Start ##### -->
<main>
    <div class="container">
        <div class="mainmenu_bodytext">
            <h4>Dados de usuário</h4><br>
        </div>
        <!-- Nav Start -->
        <div class="classynav">
            <!-- ##### Form Edit Start ##### -->
            <form action="{{ url_for('use.updateAccountDb') }}" method="post" enctype="multipart/form-data">
                <input type="hidden" id="id" name="id" value="{{ user.id }}">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="email">E-Mail</label>
                        <input type="email" class="form-control" id="email" name="email"
                               value="{{ user.email }}" required maxlength="50" placeholder="e-Mail">
                    </div>
                    <div class="form-group col-md-6">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="name">Nome</label>
                        <input type="text" class="form-control" id="name" name="name"
                              value="{{ user.name }}" required maxlength="30" autofocus>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="surname">Sobrenome</label>
                        <input type="text" class="form-control" id="surname" name="surname"
                               value="{{ user.surname }}" required maxlength="30">
                    </div>
                </div>
                <div>
                    <button type="submit" class="btn btn-info">Atualizar dados</button>
                    <a  href="{{ url_for('use.changePass') }}"><button type="button" class="btn btn-danger">Alterar senha</button></a>
                </div>
            </form>
            <!-- ##### Form Edit End ##### -->
        </div>
        <!-- Nav End -->
    </div>
</main>
<!-- ##### Main Area End ##### -->
{% endblock %}