{% extends 'base.html' %}
{% block content %}
<!-- ##### Main Area Start ##### -->
<main>
    <div class="container">
        <div class="mainmenu_bodytext">
            <h1>Log in</h1><br>
        </div>
        <!-- Login Start -->
        <div class="classynav">
            <!-- ##### Form Edit Start ##### -->
            <form method="POST" action="{{ url_for('log.authenticate') }}">
                <ul>
                    <li class="login_smartphone"><label>e-Mail:</label> <input class="form-control" type="email"
                            id="email" name="email" value="{{ session.email }}"
                            placeholder="e-Mail" required autofocus></li>
                    <li class="login_smartphone"><label>Senha:</label> <input class="form-control" type="password"
                            id="password" name="password" placeholder="Senha" required></li>
                    <li><button type="submit" class="btn btn-info">Logar</button></li>
                </ul>
            </form>
            <!-- ##### Form Edit End ##### -->
        </div>
        <!-- login End -->
        <div class="mainmenu_bodytext">
            <p><a class="linkColor" href="{{ url_for('use.resetPass') }}">Esqueci minha senha</a></p>
            <br>
        </div>
        <div class="mainmenu_bodytext">
            <h5><a class="linkColor" href="{{ url_for('log.newAccount') }}">Cadastrar-se</a></h5>
            <br>
        </div>
    </div>
</main>
<!-- ##### Main Area End ##### -->
{% endblock %}