{% extends 'base.html' %}
{% block content %}
<!-- ##### Main Area Start ##### -->
<main>
    <div class="container">
        <div class="mainmenu_bodytext">
            <h4>Esqueci minha senha</h4><br>
        </div>
        <!-- Nav Start -->
        <div class="classynav">
            <!-- ##### Form Edit Start ##### -->
            <form action="{{ url_for('use.resetEmailPass') }}" method="post" enctype="multipart/form-data">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="email">E-Mail</label>
                        <input type="email" class="form-control" id="email" name="email" value="{{ session.email }}"
                            required maxlength="50" placeholder="e-Mail">
                    </div>
                </div>
                <div>
                    <ul>
                        <li><button type="submit" class="btn btn-info">Enviar para e-Mail</button></li>
                    </ul>
                </div>
            </form>
            <!-- ##### Form Edit End ##### -->
        </div>
        <!-- Nav End -->
    </div>
</main>
<!-- ##### Main Area End ##### -->
{% endblock %}