<div class="container bg-white my-0 py-0">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

    <!-- horizontalResenhando -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-3957752655307381"
         data-ad-slot="3535353540"
         data-ad-format="auto"
         data-full-width-responsive="true">
    </ins>
    <script>
         (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>

<hr/>