{% if review.spotify_id == spotify.id %}
    <div class="single-best-receipe-area pb-0">
        <div class="receipe-content mb-0 p-0">
            <a href="{{ url_for('res.resenhado', id=review.id) }}">
                {% if spotify.image == None %}
                <img class="indexImage border-0" src="../static/img/bg-img/No-Image-Available.png" alt="">
                {% else %}
                <img class="indexImage border-0" src="{{ spotify.image }}" alt="{{ spotify.name }}">
                {% endif %}
            </a>
            <a href="{{ url_for('res.resenhado', id=review.id) }}">
                {% if spotify.name|length > 26 %}
                    <div class="indexReviewTitle bg-secondary text-white">{{ spotify.name[0:26] }}...</div>
                {% else %}
                    <div class="indexReviewTitle bg-secondary text-white">{{ spotify.name }}</div>
                {% endif %}
                {% for user in users %}
                {% if user.id == review.author_id %}
            </a>
                <div class="indexReviewName">por: <a href="{{ url_for('filter.myPage', name=user.name,
            surname=user.surname) }}" class="linkColor">{{ user.name }} {{ user.surname }}</a></div>
                    {% if review.review|length > 100 %}
                        <div class="indexReviewText">{{ review.review[0:80] }}...</div>
                    {% else %}
                        <div class="indexReviewText">{{ review.review }}</div>
                    {% endif %}
                {% endif %} {% endfor %}
        </div>
    </div>
{% endif %}

