<!-- Menu -->
<main class="container">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-white">
    <!-- Logo Start -->
      <a class="navbar-brand logo_smartphone" href="{{ url_for('ind.home') }}">
          <img src="{{ url_for('static', filename='img/core-img/logo.png') }}" alt="Resenhando">
      </a>
    <!-- Logo End -->

    <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
              aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    <!-- Nav Start -->
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active d-flex justify-content-left">
                <a class="nav-link" href="{{ url_for('ind.home') }}"><i class="fas fa-home fa-lg"></i> Home
                    <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item d-flex justify-content-left">
                <a class="nav-link" href="{{ url_for('res.resenhaIndex') }}">
                    <i class="fas fa-pencil-alt fa-lg"></i> Nova Resenha</a>
            </li>

            <li class="nav-item dropdown d-flex justify-content-left">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                   data-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-filter fa-lg"></i> Filtrar Resenhas
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="{{ url_for('filter.everything') }}"><i class="fas fa-bars"></i> &nbsp;Todas</a>
                    <div class="dropdown-divider"></div>
                {% if session.id != '' %}
                  <a class="dropdown-item" href="{{ url_for('filter.minhas_resenhas', id=session.id) }}"><i class="fas fa-grip-lines"></i> &nbsp;Minhas</a>
                {% endif %}
                  <a class="dropdown-item" href="{{ url_for('filter.filterArtist') }}"><i class="fas fa-guitar"></i> &nbsp;Artistas</a>
                  <a class="dropdown-item" href="{{ url_for('filter.filterAlbum') }}"><i class="fas fa-compact-disc"></i> &nbsp;Álbums</a>
                  <a class="dropdown-item" href="{{ url_for('filter.filterTrack') }}"><i class="fab fa-itunes-note"></i> &nbsp;Músicas</a>
                  <a class="dropdown-item" href="{{ url_for('filter.filterPlaylist') }}"><i class="fas fa-icons"></i> &nbsp;Playlists</a>

                </div>
            </li>

            {% if session.id != '' and session['id'] == 1 or session['id'] == 4 %}
                <li class="nav-item d-flex justify-content-left pl-5">
                    <a class="nav-link" href="{{ url_for('adm._adm') }}">*ADM</a>
                </li>
            {% endif %}

            {% if session['id'] == '' %}
                <li class="nav-item d-flex justify-content-left" data-toggle="modal" data-target="#loginModal">
                    <a class="nav-link" href="#"><i class="fas fa-sign-in-alt fa-lg"></i> Login</a>
                </li>
                <li class="nav-item d-flex justify-content-left">
                    <a class="nav-link" href="{{ url_for('log.newAccount') }}"><i class="fas fa-clipboard-list fa-lg"></i> Cadastrar</a>
                </li>
            {% else %}
                <li class="nav-item d-flex justify-content-left">
                    <a class="nav-link" id="editAccount" href="{{ url_for('use.editAccount') }}">
                        <i class="far fa-address-card fa-lg"></i>
                        {{ session['name'] }} {{ session['surname'] }}</a>
                </li>

                <li class="nav-item d-flex justify-content-left">
                    <a class="nav-link" id="logout" href="{{ url_for('log.logout') }}">
                        <i class="fas fa-sign-out-alt fa-lg"></i> Logout</a>
                </li>
            {% endif %}
        </ul>
      </div>
    </nav>
    <!-- Nav End -->
</main>

<!-- Modal for authentication -->
{% include 'partials/modalLogin.html' %}