{% extends 'base.html' %}
{% block content %}
<!-- ##### 'Resenhas' Area Start ##### -->
<div class="container reShapeIndex">

    <p class="text-secondary pl-1"><i class="fas fa-compact-disc"></i> &nbsp;Resenhas de Álbums</p>

    <div class="row">
        {% for review in reviewsAlbum|sort(attribute='date_register', reverse=true) %}
            {% for spotify in spotifyAlbum %}
                <!-- partials indexTiles.html -->
                {% include 'partials/resenhaViewsTiles.html' %}
            {% endfor %}
        {% endfor %}
    </div>

    <hr>
</div>
{% endblock %}