.main_results {
    padding-left: 7%;
}

.RED {
    color: red;
}

.login {
    display: flex;
    float: right;
    color: #a7a4a4;
    font-size: 15px;
    margin-right: 15px;
    padding: 1.5%
}

.indexTileImage {
    max-height: 280px !important;
}

.modal { background: rgba(000, 000, 000, 0.8); min-height:1000000px; }

.navbar {
    margin: 0 auto;
    max-width: 1200px;
}

.navbarBackground:hover {
    background-color: rgb(143, 143, 143);
    color: rgb(255, 255, 255) !important;
}
.navbarSubMenuBackground:hover {
    background-color: rgb(221, 221, 221)
}

.login button {
    padding: 0.8% 2%;
    margin: 0 1%;
}

.poster_more_details {
    width: 100%;
    display:-ms-flexbox;
    display:flex;
}

.poster_image, .image_artist {
    border-collapse: collapse;
    border-style: none;
    float: left;
    margin-bottom: 1%;
    margin-right: 1%;
    max-width: 500px;
    max-height: 500px;
}

.resenha_albuns {
    width: 300px;
    height: 300px;
}

.table_poster {
    max-width: 100%;
    padding: 0 2% 0 2%;
}

.table_poster td {
    padding: 0px 1% 3%;
}

.imageResenhado {
        max-width: 400px;
        max-height: 400px;
    }

.resenha_titles {
    vertical-align: top;
    font-weight: bold;
    -ms-flex-wrap:nowrap;
    flex-wrap:nowrap;
    min-width: 30%;
}

.resenha_item {
    vertical-align: top;
    width: 100%;
}

.resenha_spotify {
    text-align: center;
}

.figcaption {
    text-align: center;
    vertical-align: top;
}

.linkColor:hover{
    color: rgb(1, 104, 1)
}

.sobre_list {
    color: grey;
    font-style: italic;
}

footer {
    width: 100%;
    text-align: center;
    background: black;
    color:#ffffff;
    padding: 3% 0;
    font-family: 'Roboto', sans-serif;
}

.footer_logo {
    width: 15%;
}

.comments {
    width: 100;
    margin: 0 auto 0 auto;
    background: rgb(241, 241, 241);
    padding: 1px 7% 7%;
}

.comments_text {
    color: rgb(60, 60, 60);
}

.comments_writing {
    display:flex;
    width: 70%;
}

.comments_result {
    font-weight: bold;
    width: 100%;
}

.comments_review {
    padding: 0 5% 0%;
    margin: 0 3%;
    font-size: -2em;
    color: rgb(81, 162, 228);
    width: 100%;
}

.buttons {
    text-align: right;
}

.delete {
    font-size: 16px !important;
    font-weight: normal !important;
}

.white {
    color:white !important;
}

.like td {
    padding: 0 5px 5px 5px;
    text-align: center;
    color: rgb(4, 187, 0);
}

.like_count {
    font-weight: bold;
    padding-left: 5px;
}

.adjustNotificationsButton{
    position: relative;
}
.notificationsButton {
    position: absolute;
    left: 0;
    top: 0px;
    z-index: -1;
}

.dropbtn {
    background-color: #f1f1f1;
    color: rgb(29, 29, 29);
    padding: 1px;
    font-size: 10px;
    border: none;
  }
  
    .dropdown_rightalign {
    right: 7%;
    position: absolute;
    display: inline-block;
    }

    .dropdown_position {
    display: inline-block;
    }

    .dropdown {
    display: inline-block;
    }

    .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 125px;
    box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.2);
    z-index: 1;
    }

    .dropdown-content a {
    color: rgb(29, 29, 29);
    padding: 5px 5px;
    text-decoration: none;
    display: block;
    }

    .dropdown-content a:hover {background-color: #ddd;}

    .dropdown:hover .dropdown-content {display: block;}

    .dropdown:hover .dropbtn {background-color: #ddd}

.initiallyHidden { display: none; }

.custom-tooltip {
  position: relative;
  display: inline-block;
}

.custom-tooltip .custom-tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.custom-tooltip .custom-tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.custom-tooltip:hover .custom-tooltiptext {
  visibility: visible;
  opacity: 1;
}


/* ------------------------------------- */
/* Horizontal Index Scrollbar Beginning */

body {
	margin: 0;
}

* {
	padding: 0;
	margin: 0;
}

.index-menu-wrapper {
	position: relative;
	max-width: 1200px;
	height: 100%; /* hide the scroll bar */
	margin: 0;
	overflow-x: hidden;
	overflow-y: hidden;
}

.index-menu	{
    width: 100%;
    vertical-align: top;
	height: auto; /* hide the scroll bar */
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

.index-item {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    height: 100%;
}

.paddle {
	position: absolute;
	top: 0;
	bottom: 0;
    width: 2em;
    opacity: 40%;
}
.left-paddle {
    left: 0;
    z-index: 9;
}
.right-paddle {
    right: 0;
    margin: 0;
    padding: 0;
    z-index: 9;
}
.hidden {
	display: none;
}

.indexReviewText {
    padding: 0;
    margin: 0;
    font-size: 10px;
    font-style: italic;
    overflow-wrap: break-word;
    white-space: normal;
    color: rgb(150, 150, 150);
}

.indexReviewName {
    padding: 0;
    margin: 0;
    overflow-wrap: break-word;
    white-space: normal;
    color: rgb(150, 150, 150);
}

.indexReviewTitle {
    margin-bottom: 0 !important;
}

.resenhaListArtist {
    margin-left: 7%
}


/* Horizontal Index Scrollbar Ending */
/* --------------------------------- */



/* CSS for Smartphones */

@media screen and (max-width: 480px) {
    .login {
        text-align: center;
    }
    
    .main_results {
        padding-left: 3%;
    }

    .comments_writing {
        display: inline;
    }

    .poster_more_details {
        width: 100%;
        -ms-flex-wrap:wrap;
        flex-wrap:wrap;
    }
    
    .poster_image {
        all: unset;
    }
    .resenhaListArtist {
        all: unset
    }
    
    .table_poster {
        padding: 0 1% 0 1%;
    }
    
    .table_poster td {
        padding: 0px 1% 3%;
    }

    .login_smartphone {
        width: 100%;
        padding-bottom: 1%;
    }

    .newReviewSmartphone {
        width: 100%;
    }

    .resenha_smartphone {
        padding: 5%;
        display: inline;
    }
    .logo_smartphone {
        width: 65% !important;
        height: 65% !important;
    }

    .reShapeIndex {
        all: unset;
        width: 100% !important; 
        margin-left: auto !important;
        margin-right: auto !important;
        padding-left: auto !important;
        padding-right: auto !important;
    }
    .imageResenhadoSmartphone .image_artist .resenha_albuns {
        all: unset !important; 
        object-fit:cover !important;
        width: 100%;
        height: auto;
    }
    .resenhaListArtistName {
        text-align: center;
    }
    .justify-content-left{
        padding-left: 12%;
    }

    .notificationsButton {
        left: 8%;
    }

    /* ------------------------------------- */
    /* Horizontal Index Scrollbar Beginning */

    .index-item {
        width: 70%;
    }

}

/* CSS for Tablets */

@media screen and (min-width: 481px) and (max-width: 800px) {
    .main_results {
        margin-top: 1%;
        padding-left: 3%;
    }
    .index-item {
        width: 40%;
    }
    .resenhaListArtist {
        margin-left: 3%
    }

    .poster_more_details {
    width: 100%;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    }

    .poster_image {
        all: unset;
    }

    .reShapeIndex {
        all: unset;
        width: 100% !important; 
        margin-left: auto !important;
        margin-right: auto !important;
        padding-left: auto !important;
        padding-right: auto !important;
    }
    .imageResenhadoSmartphone {
        max-width: 400px;
        max-height: 400px;
    }
    .newReviewSmartphone {
        width: 100%;
    }

}

@media screen and (min-width: 801px) and (max-width: 999px) {
    .imageResenhadoSmartphone {
        max-width: 400px;
        max-height: 400px;
    }
    .resenhaListArtist {
        margin-left: 5%
    }
}