{% extends 'base.html' %}
{% block content %}
<!-- ##### Main Area Start ##### -->
<main class="container">

    <!-- ##### Form Edit Start ##### -->
    <div>
        <!-- ## Search Artist ## -->
        {% include 'resenha/resenhaForm.html' %}
        <br>
    </div>

    <!-- ##### Albums info begining ##### -->
    {% if not albums %}
    <h4>Nenhum album encontrado para esse artista.</h4>

    {% else %}

    <h4>Albums encontrados para: {{ albums[0].artist_name }}</h4>
    <p>&nbsp;</p>
    <div class="row">
    {% for album in albums %}

        <div class="col-12 col-sm-6 col-lg-3">
            <div class="single-best-receipe-area mb-30">
                <a href="#">
                    {% if not album.image %}
                    <img src="../static/img/bg-img/No-Image-Available.png" alt="" class="resenha_albuns">
                    {% else %}
                    <img src="{{ album.image }}" alt="" class="resenha_albuns">
                    {% endif %}
                </a>
                <div class="receipe-content">
                    <a href="#">
                        <h5>{{ album.name }}</h5>
                        <h5>Release: {{ album.release_date }}</h5>
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
    {% endif %}
    </div>
    <!-- ##### Artist info end ##### -->

</main>
{% endblock %}