{% extends 'base.html' %}
{% block content %}
<!-- ##### Main Area Start ##### -->
<main class="container">
    <section class="poster_more_details">
        <div>
            <!-- ##### Form Edit Start ##### -->
            <form action="{{ url_for('res.updateResenha') }}" method="post" enctype="multipart/form-data"
                onsubmit="return validateForm();">
                <fieldset class="resenha_smartphone">
                    <input type="hidden" id="id" name="id" value="{{ data.id }}">
                    <div class="poster_image">
                        {% if spotify.image == None %}
                        <img src="/static/uploads/No-Image-Available.png" alt="">
                        {% else %}
                        <img src="{{ spotify.image }}" alt="">
                        {% endif %}
                    </div>

                    <table class="table_poster">
                        <tr>
                            <td class="resenha_titles"><label>Nome do Artista/Banda</label>
                                <input id="name" name="name" class="form-control" value="{{ spotify.name }}" onkeydown="return false;" onmousedown="return false">
                            </td>
                        </tr>
                        <tr>
                            <td class="resenha_titles"><label for="nome_review">Titulo da Review</label>
                            <input id="nome_review" name="nome_review" class="form-control" value="{{ data.nome_review }}" required>
                            </td>
                        </tr>
                        <tr>
                            <td class="resenha_titles"><label for="review">Resenha</label>
                            <textarea id="review" name="review" class="form-control"
                              rows="10" cols="50" required>{{ data.review }}</textarea>
                            </td>
                        </tr>
                        <tr>
                            <td class="resenha_titles"><button type="submit" class="btn btn-primary btn-salvar">Enviar resenha</button>
                            <a class="btn btn-danger" href="{{ url_for('ind.home') }}">Voltar</a>
                            </td>
                        </tr>
                    </table>
                </fieldset>
            </form>
            <!-- ##### Form Edit End ##### -->
        </div>
    </section>
    <p></p>
</main>
<!-- ##### 'Resenha' Area End ##### -->
{% endblock %}