{% extends 'base.html' %}
{% block content %}
<!-- ##### Main Area Start ##### -->
<main class="container">
    <!-- ##### Form Edit Start ##### -->
    <div>
        <!-- ## Search Artist ## -->
        {% include 'partials/resenhaArtistForm.html' %}
        <br>
    </div>
    <!-- ##### Albums info begining ##### -->
    {% if not albums %}
    <h4>Nenhum album encontrado para esse artista.</h4>
    {% else %}
    <h4>Albums encontrados para: {{ albums[0].artist_name }}</h4>
    <div class="row">
        {% for album in albums %}
        <div class="col-12 col-sm-8 col-lg-2">
            <div class="single-best-receipe-area mb-10">
                <div class="receipe-content">
                    <a id="albumData{{ album.id }}" href="#listAlbumModal" class="listAlbumModal" data-toggle="modal"
                       data-album='{"id":"{{ album.id }}","name":"{{ album.name }}", "image":"{{ album.image }}",
                       "artist_name":"{{ album.artist_name }}", "release_date":"{{ album.release_date }}",
                       "totalTracks":"{{ album.totalTracks }}", "radio":"{{ album.radio }}",
                       "genres":"{{ album.genres }}"}'>
                        {% if not album.image %}
                        <img src="../static/img/bg-img/No-Image-Available.png" alt="">
                        {% else %}
                        <img src="{{ album.image }}" alt="">
                        {% endif %}
                        <h5 class="linkColor">{{ album.name }}<br>Release: {{ album.release_date }}</h5>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <!-- ##### Artist info end ##### -->
</main>

<!-- Modal for Album Information -->
<div class="modal fade" id="listAlbumModal" tabindex="-1" role="dialog" aria-labelledby="listAlbumModalLabel"
     aria-hidden="true" data-backdrop="true">
    <div class="container modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">

            <!-- Modal Header Start -->
            <div class="modal-header">
                <!-- Album Title -->
                <span class="modal-title" id="albumName"></span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- Modal Header End -->

            <!-- Modal Body Start -->
            <p class="pl-3 pb-0 mb-0">Role a página para mais detalhes</p>
            <div class="modal-body">
                <a id="linkResenha"></a>                                        <!-- Link 1 -->
                <span id="albumImage" class="text-center"></span>      <!-- Album Image -->
                <table class="table p-0 m-0">
                    <tr><td id="albumArtistName" class="text-center"></td></tr> <!-- Artist Name -->
                    <tr><td id="albumRadio" class="text-center"></td></tr>      <!-- Radio -->
                    <tr><td id="albumGenres"></td></tr>                         <!-- Genres -->
                    <tr><td><a id="linkResenha2"></a></td></tr>                 <!-- Link 2 -->
                </table>
            </div>
            <!-- Modal Body End -->
        </div>
    </div>
</div>
{% endblock %}