{% extends 'base.html' %}
{% block content %}
<!-- ##### 'Resenhas' Area Start ##### -->
<div class="container reShapeIndex">

    <!-- Ordering by ARTIST Area Beginning-->
    <!-- Main Filter -->
    {% if mainFilter == 'artist' or mainFilter == 'index' or mainFilter == 'myPage' or mainFilter == 'everything' %}

    {% if mainFilter == 'index' %}
        <p class="text-secondary pl-1">BANDAS E ARTISTAS | Resenhas mais recentes</p>
    {% else %}
        <p class="text-secondary pl-1">Resenhas de Bandas e Artistas</p>
    {% endif %}

    <div class="row">
        {% for review in reviewsArtist|sort(attribute='date_register', reverse=true) %}
            {% for spotify in spotifyArtist %}
                <!-- partials indexTiles.html -->
                {% include 'partials/resenhaViewsTiles.html' %}
            {% endfor %}
        {% endfor %}
    </div>

    <hr>
    {% endif %}
    <!-- Ordering by ARTIST Area Ending-->


    <!-- Ordering by ALBUM Area Beginning-->

    <!-- Main Filter -->
    {% if mainFilter == 'album' or mainFilter == 'index' or mainFilter == 'myPage' or mainFilter == 'everything' %}

    {% if mainFilter == 'index' %}
        <p class="text-secondary pl-1">ÁLBUMS | Resenhas mais recentes</p>
    {% else %}
        <p class="text-secondary pl-1">Resenhas de Álbums</p>
    {% endif %}

    <div class="row">
        {% for review in reviewsAlbum|sort(attribute='date_register', reverse=true) %}
            {% for spotify in spotifyAlbum %}
                <!-- partials indexTiles.html -->
                {% include 'partials/resenhaViewsTiles.html' %}
            {% endfor %}
        {% endfor %}
    </div>

    <hr>
    {% endif %}
    <!-- Ordering by ALBUM Area Ending-->


    <!-- Ordering by TRACK Area Beginning-->

    <!-- Main Filter -->
    {% if mainFilter == 'track' or mainFilter == 'index' or mainFilter == 'myPage' or mainFilter == 'everything' %}

    {% if mainFilter == 'index' %}
        <p class="text-secondary pl-1">MÚSICAS | Resenhas mais recentes</p>
    {% else %}
        <p class="text-secondary pl-1">Resenhas de Músicas</p>
    {% endif %}

    <div class="row">
        {% for review in reviewsTrack|sort(attribute='date_register', reverse=true) %}
            {% for spotify in spotifyTrack %}
                <!-- partials indexTiles.html -->
                {% include 'partials/resenhaViewsTiles.html' %}
            {% endfor %}
        {% endfor %}
    </div>

    <hr>
    {% endif %}
    <!-- Ordering by TRACK Area Ending-->

    <!-- Ordering by PLAYLIST Area Beginning-->

    <!-- Main Filter -->
    {% if mainFilter == 'playlist' or mainFilter == 'index' or mainFilter == 'myPage' or mainFilter == 'everything' %}

    {% if mainFilter == 'index' %}
        <p class="text-secondary pl-1">PLAYLISTS | Resenhas mais recentes</p>
    {% else %}
        <p class="text-secondary pl-1">Resenhas de Playlists</p>
    {% endif %}

    <div class="row">
        {% for review in reviewsPlaylist|sort(attribute='date_register', reverse=true) %}
            {% for spotify in spotifyPlaylist %}
                <!-- partials indexTiles.html -->
                {% include 'partials/resenhaViewsTiles.html' %}
            {% endfor %}
        {% endfor %}
    </div>

    <hr>
    {% endif %}
    <!-- Ordering by PLAYLIST Area Ending-->

</div>
<!-- ##### 'Resenhas' Area End ##### -->

{% endblock %}