{% extends 'base.html' %}
{% block content %}
<!-- ##### Main Area Start ##### -->
<main class="container">
    <section class="poster_more_details">
        <div>
            <!-- ##### Form Edit Start ##### -->
            <form action="{{ url_for('res.createResenha') }}" method="post" enctype="multipart/form-data"
                onsubmit="return validateForm();">
                <fieldset class="resenha_smartphone">
                    <input type="hidden" id="spotify_id" name="spotify_id" value="{{ spotify.id }}">
                    <input type="hidden" id="spotifyArtistId" name="spotifyArtistId" value="{{ spotify.artistId }}">
                    <input type="hidden" id="tipo_review" name="tipo_review" value="{{ tipo_review }}">
                    <div class="poster_image">
                        {% if spotify.image == None %}
                        <img src="/static/uploads/No-Image-Available.png" alt="">
                        {% else %}
                        <img src="{{ spotify.image }}" alt="">
                        {% endif %}
                    </div>
                    <table class="table_poster">
                        <tr>
                            <td class="resenha_titles newReviewSmartphone" >
                                {% if tipo_review == 'artista' %}
                                    <label>Nome do Artista/Banda</label>
                                {% elif tipo_review == 'album' %}
                                    <label>Nome do Álbum</label>
                                {% elif tipo_review == 'track' %}
                                    <label>Nome da Música</label>
                                {% elif tipo_review == 'playlist' %}
                                    <label>Nome da Playlist</label>
                                {% endif %}
                                <input id="name" name="name" class="form-control" value="{{ spotify.name }}"
                                    onkeydown="return false;" onmousedown="return false">
                            </td>
                        </tr>
                        <tr>
                            <td class="resenha_titles newReviewSmartphone"><label for="nome_review">Titulo da Review</label>
                                <input id="nome_review" name="nome_review" class="form-control"
                                    value="{{ session.nome_review }}" required autofocus>
                            </td>
                        </tr>
                        <tr>
                            <td class="resenha_titles newReviewSmartphone"><label for="review">Resenha (aceita HTML)</label>
                                <textarea id="review" name="review" class="form-control" rows="10" cols="50"
                                    required>{{ session.review }}</textarea>
                            </td>
                        </tr>
                        <tr>
                            <td class="resenha_titles newReviewSmartphone">
                                <button type="submit" class="btn btn-primary btn-salvar">Enviar resenha</button>
                                <button type="button" class="btn btn-danger"
                                    onclick="window.history.go(-1); return false;">Voltar</button>
                            </td>
                        </tr>
                    </table>
                </fieldset>
            </form>
            <!-- ##### Form Edit End ##### -->
        </div>
    </section>
    <p></p>
</main>
<!-- ##### 'Resenha' Area End ##### -->
{% endblock %}