{% extends 'base.html' %}
{% block content %}
<!-- ##### 'Resenhas' Area Start ##### -->
<div class="container reShapeIndex">

    {% if filterGenre=='filterGenre' %}
        <!-- ##### Genres info begining ##### -->
        <section class="resenhaListArtist">
        <div class="d-flex flex-wrap">
        {% for genre in genres %}
            {% for item in genreCount %}
                {% if genre == item %}
                    <span class="buttonStyle">
                   <img src="../static/img/core-img/genres/{{ genre }}.svg" width="30px" height="30px" alt=""> {{ genre|title }}
                        {% for i in range(9 - genre|length) %}&nbsp;{% endfor %}  &nbsp;| {{ genreCount.get(genre) }}
                    </span>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
    </section>
    <!-- ##### Genres info end ##### -->
    {% endif %}

    <!-- Ordering by ARTIST Area Beginning-->
    <!-- Main Filter -->
    {% if mainFilter == 'artist' or mainFilter == 'index' or mainFilter == 'myPage' or mainFilter == 'everything' %}

    {% if mainFilter == 'index' %}
        <p class="text-secondary pl-1"><i class="fas fa-guitar"></i> &nbsp;BANDAS E ARTISTAS | Resenhas mais recentes</p>
    {% else %}
        <p class="text-secondary pl-1"><i class="fas fa-guitar"></i> &nbsp;Resenhas de Bandas e Artistas</p>
    {% endif %}

    <div class="row">
        {% for review in reviewsArtist|sort(attribute='date_register', reverse=true) %}
            {% for spotify in spotifyArtist %}
                <!-- partials indexTiles.html -->
                {% include 'partials/resenhaViewsTiles.html' %}
            {% endfor %}
        {% endfor %}
    </div>

    <hr>
    {% endif %}
    <!-- Ordering by ARTIST Area Ending-->


    <!-- Ordering by ALBUM Area Beginning-->

    <!-- Main Filter -->
    {% if mainFilter == 'album' or mainFilter == 'index' or mainFilter == 'myPage' or mainFilter == 'everything' %}

    {% if mainFilter == 'index' %}
        <p class="text-secondary pl-1"><i class="fas fa-compact-disc"></i> &nbsp;ÁLBUMS | Resenhas mais recentes</p>
    {% else %}
        <p class="text-secondary pl-1"><i class="fas fa-compact-disc"></i> &nbsp;Resenhas de Álbums</p>
    {% endif %}

    <div class="row">
        {% for review in reviewsAlbum|sort(attribute='date_register', reverse=true) %}
            {% for spotify in spotifyAlbum %}
                <!-- partials indexTiles.html -->
                {% include 'partials/resenhaViewsTiles.html' %}
            {% endfor %}
        {% endfor %}
    </div>

    <hr>
    {% endif %}
    <!-- Ordering by ALBUM Area Ending-->


    <!-- Ordering by TRACK Area Beginning-->

    <!-- Main Filter -->
    {% if mainFilter == 'track' or mainFilter == 'index' or mainFilter == 'myPage' or mainFilter == 'everything' %}

    {% if mainFilter == 'index' %}
        <p class="text-secondary pl-1"><i class="fab fa-itunes-note"></i> &nbsp;MÚSICAS | Resenhas mais recentes</p>
    {% else %}
        <p class="text-secondary pl-1"><i class="fab fa-itunes-note"></i> &nbsp;Resenhas de Músicas</p>
    {% endif %}

    <div class="row">
        {% for review in reviewsTrack|sort(attribute='date_register', reverse=true) %}
            {% for spotify in spotifyTrack %}
                <!-- partials indexTiles.html -->
                {% include 'partials/resenhaViewsTiles.html' %}
            {% endfor %}
        {% endfor %}
    </div>

    <hr>
    {% endif %}
    <!-- Ordering by TRACK Area Ending-->

    <!-- Ordering by PLAYLIST Area Beginning-->

    <!-- Main Filter -->
    {% if mainFilter == 'playlist' or mainFilter == 'index' or mainFilter == 'myPage' or mainFilter == 'everything' %}

    {% if mainFilter == 'index' %}
        <p class="text-secondary pl-1"><i class="fas fa-icons"></i> &nbsp;PLAYLISTS | Resenhas mais recentes</p>
    {% else %}
        <p class="text-secondary pl-1"><i class="fas fa-icons"></i> &nbsp;Resenhas de Playlists</p>
    {% endif %}

    <div class="row">
        {% for review in reviewsPlaylist|sort(attribute='date_register', reverse=true) %}
            {% for spotify in spotifyPlaylist %}
                <!-- partials indexTiles.html -->
                {% include 'partials/resenhaViewsTiles.html' %}
            {% endfor %}
        {% endfor %}
    </div>

    <hr>
    {% endif %}
    <!-- Ordering by PLAYLIST Area Ending-->

</div>
<!-- ##### 'Resenhas' Area End ##### -->
{% endblock %}