{% extends 'base.html' %}
{% block content %}
<!-- ##### Main Area Start ##### -->
<main class="container">
    <!-- ##### Form Edit Start ##### -->
    <div>
        <!-- ## Search Playlist ## -->
        {% include 'partials/resenhaPlaylistForm.html' %}
        <br>
    </div>
    <!-- ##### Playlists info begining ##### -->
    {% if not playlists %}
    <h4>Nenhuma Playlist encontrada para esse usuário no Spotify.</h4>
    {% else %}
    <h4>Playlists encontradas no Spotify para o usuário pesquisado:</h4>
    <div class="row">
        {% for item in playlists %}
        <div class="col-12 col-sm-8 col-lg-2">
            <div class="single-best-receipe-area mb-10">
                <div class="receipe-content">
                    <a href="{{ url_for('res.resenhaNewPlaylist', playlistId=item.id) }}">
                        {% if not item.image %}
                        <img src="../static/img/bg-img/No-Image-Available.png" alt="">
                        {% else %}
                        <img src="{{ item.image }}" alt="">
                        {% endif %}
                    </a>
                    <a href="{{ url_for('res.resenhaNewPlaylist', playlistId=item.id) }}">
                        <h5>{{ item.name }}</h5>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <!-- ##### Artist info end ##### -->
</main>
{% endblock %}