{% extends 'base.html' %}
{% block content %}
<main class="container">
    <h5>Iniciar resenha:</h5>
    <h6 class="pb-3">Escrever sobre</h6>

    <div class="container">
        <div class="d-flex flex-wrap">
            <a id="buttonArtist" class="buttonStyle pt-1 pb-1 mb-2">
                &nbsp;<i class="fas fa-guitar fa-lg"></i> Artista &nbsp;ou &nbsp; <i class="fas fa-compact-disc fa-lg"></i> Álbum &nbsp;&nbsp;</a>

            <a id="buttonTrack" class="buttonStyle pt-1 pb-1 mb-2">&nbsp;&nbsp;&nbsp;<i class="fab fa-itunes-note fa-lg"></i>&nbsp; Música</a>

            <a id="buttonPlaylist" class="buttonStyle pt-1 pb-1 mb-2">&nbsp;&nbsp;&nbsp;<i class="fas fa-icons fa-lg"></i>&nbsp; Playlist</a>
        </div>

        <section class="initiallyHidden pb-5" id="formArtist">
            <hr/>
            <div class="container">
                <div class="dropdown_position">
                    <h6><br>
                        <i class="fas fa-guitar"> Artista</i>&nbsp; ou &nbsp;<i class="fas fa-compact-disc"> Álbum</i></h6>
                    <p>Digite o nome do <strong>ARTISTA</strong>:</p>
                </div>
                    <p>{% include 'partials/resenhaArtistForm.html' %}</p>
            </div>
        </section>
    </div>

    <section class="initiallyHidden pb-5" id="formTrack">
        <hr/>
        <div class="container">
            <div class="dropdown_position">
                <h6><br><i class="fab fa-itunes-note"> Música</i></h6>
                <p>Digite o nome da <strong>Música</strong>:</p>
            </div>
                <p>{% include 'partials/resenhaTrackForm.html' %}</p>
        </div>
    </section>

    <section class="initiallyHidden pb-5" id="formPlaylist">
        <hr/>
        <div class="container">
            <div class="dropdown_position">
                <h6><br><i class="fas fa-icons"> Playlist</i></h6>
                <p>Uma de suas playlists do Spotify<br>
                <b>É necessário digitar o seu <u>'nome do usuário' do Spotify</u></b></p>
            </div>
                <p>{% include 'partials/resenhaPlaylistForm.html' %}</p>
        </div>
    </section>

    <p>&nbsp;</p>
    <hr/>
    <p>&nbsp;</p>

</main>

{% endblock %}