{% extends 'base.html' %}
{% block content %}
<!-- ##### Main Area Start ##### -->
<main class="container">

    <!-- ##### Form Edit Start ##### -->
    <div>
        <!-- ## Search Artist ## -->
        {% include 'partials/resenhaArtistForm.html' %}
        <br>
    </div>
    <p>Artistas/Bandas encontrados:</p>



    <!-- ##### (5) Artist info begining ##### -->
    {% if not artists %}
    <h4>Nenhum artista ou banda encontrado.</h4>

    {% else %}

    {% for artist in artists %}
    <h2>{{ artist.name }}</h2>
    <section class="poster_more_details">

            <div>
                {% if artist.image == '' %}
                <img src="{{ url_for('static', filename='img/bg-img/No-Image-Available.png') }}" alt="" class="resenha_albuns">
                {% else %}
                <img src="{{ artist.image }}" class="resenha_albuns">
                {% endif %}
            </div>

            <table class="table_poster">
                    <tr>
                        <td class="resenha_titles">Fazer uma resenha:</td>
                    </tr>
                    <tr>
                        <td class="resenha_titles">
                            <ol>
                                <li>
                                    <a href="{{ url_for('res.resenhaNewArtist', artistId=artist.id) }}"
                            class="navbarBackground">&nbsp;<i class="fas fa-guitar"></i>&nbsp; Do Artista</a>
                                </li>
                                <li>&nbsp;</li>
                                <li>
                                    <a href="{{ url_for('res.resenhalistAlbums', artistId=artist.id) }}"
                        class="navbarBackground">&nbsp;<i class="fas fa-compact-disc"></i>&nbsp; Selecionar um Álbum</a>
                                </li>
                            </ol>
                            </td>
                    </tr>
            </table>

    </section>
    <hr/>
    {% endfor %}
    {% endif %}
    <!-- ##### Artist info end ##### -->

</main>
{% endblock %}