{% extends 'base.html' %}
{% block content %}
<!-- ##### Main Area Start ##### -->
<main class="container">

    <p>Músicas encontradas:</p>

    <!-- ##### (5) Artist info begining ##### -->
    {% if not tracks %}
    <h4>Nenhuma música encontrada.</h4>

    {% else %}

    <div class="row">
        {% for track in tracks %}
        <div class="col-10 col-sm-5 col-lg-3">
            <div class="single-best-receipe-area mb-10">
                <table>
                    <tr>
                        <td>
                            <iframe src="{{ track.radio }}" width="80" height="80" frameborder="0"
                        allowtransparency="true" allow="encrypted-media">
                    </iframe>
                        </td>
                        <td>

                        {% if track.name|length > 18 %}
                        <h6>&nbsp;{{ track.name[0:18] }}...</h6>
                    {% else %}
                        <h6>&nbsp;{{ track.name }}</h6>
                    {% endif %}

                    {% if track.artistName|length > 18 %}
                    <p>&nbsp;Artista: <b>{{ track.artistName[0:18] }}</b>...</p>
                    {% else %}
                        <p>&nbsp;Artista: <b>{{ track.artistName }}</b></p>
                    {% endif %}

                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <a href="{{ url_for('res.resenhaNewTrack', trackId=track.id) }}">
                    <button type="button" class="btn btn-link">
                        Resenhar essa música
                    </button></a>
                        </td>
                    </tr>
                </table>

                    <hr/>

            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <!-- ##### Artist info end ##### -->

</main>
{% endblock %}