{% extends 'base.html' %}
{% block content %}
<main class="container">
    <section>
        <div class="container">
            <h5>Iniciar resenha:</h5>
            <div class="container">
                <div class="dropdown_position">
                    <h6>Escrever sobre</h6>
                    <a href="#" id="buttonArtist"><span class="linkColor">
                        <i class="fas fa-guitar fa-lg"></i> Artista</span></a>

                    &nbsp; &nbsp; &nbsp;

                    <a href="#" id="buttonAlbum"><span class="linkColor">
                        <i class="fas fa-compact-disc fa-lg"></i> Álbum</span></a>

                    &nbsp; &nbsp; &nbsp;

                    <a href="#" id="buttonTrack"><span class="linkColor">
                        <i class="fab fa-itunes-note fa-lg"></i> Música</span></a>

                    &nbsp; &nbsp; &nbsp;

                    <a href="#" id="buttonPlaylist"><span class="linkColor">
                        <i class="fas fa-icons fa-lg"></i> Playlist</span></a>
                </div>
            </div>

            <hr/>

            <section class="initiallyHidden" id="formArtist">
                <div class="container">
                    <div class="dropdown_position">
                        <h6><br>Artista</h6><p>Digite o nome do artista abaixo:</p>
                    </div>
                        <p>{% include 'partials/resenhaArtistForm.html' %}</p>
                </div>
            </section>

            <section class="initiallyHidden" id="formAlbum">
                <div class="container">
                    <div class="dropdown_position">
                        <h6><br>Álbum</h6><p>Digite o nome do artista para pesquisar o álbum:</p>
                    </div>
                        <p>{% include 'partials/resenhaArtistForm.html' %}</p>
                </div>
            </section>


            <section class="initiallyHidden" id="formTrack">
                <div class="container">
                    <div class="dropdown_position">
                        <h6><br>Música</h6><p>Uma música</p>
                    </div>
                        <p>{% include 'partials/resenhaTrackForm.html' %}</p>
                </div>
            </section>

            <section class="initiallyHidden" id="formPlaylist">
                <div class="container">
                    <div class="dropdown_position">
                        <h6><br>Playlist</h6><p>Uma de suas playlists do Spotify<br>
                        <b>É necessário digitar o seu <u>'nome do usuário' do Spotify</u></b></p>
                    </div>
                        <p>{% include 'partials/resenhaPlaylistForm.html' %}</p>
                </div>
            </section>

        </div>
    </section>
</main>


<!-- ##### Google AdSense Start ##### -->
<script data-ad-client="ca-pub-3957752655307381"
        async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- ##### Google AdSense End ##### -->


{% endblock %}