{% extends 'base.html' %}
{% block content %}
<!-- ##### Main Area Start ##### -->
<main class="container reShapeIndex">
    <section class="poster_more_details">
        <div>
            <p class="resenha_titles pl-1">Resenha escrita em: {{ date }}</p>
            <p class="resenha_titles pl-1">Autor: <a href="{{ url_for('filter.myPage', name=user_author.name,
            surname=user_author.surname) }}" class="linkColor">{{ user_author.name }} {{ user_author.surname }}</a></p>
            <!-- ## like/deslike buttons ## -->
            <table class="like">
                <tr>
                    <td>
                        {% if session.id == data.author_id %}
                            <!-- ## Users can't like its own reviews ## -->
                            <i class="far fa-hand-pointer fa-2x" style="color: #d2d2d2"></i>
                            {% if like == 0 %} <i style="color: #d2d2d2">
                            Nenhuma curtida ainda</i> {% else %}<i style="color: #d2d2d2">{{ like }} Curtida(s)</i>
                            {% endif %}
                        {% else %}
                            {% if not session.id %}
                                <!-- ## calling Login Modal ## -->
                                <a data-toggle="modal" data-target="#loginModal" href="#" style="color: #676767">
                                    <span class="linkColor"><i class="far fa-hand-pointer fa-2x"></i>
                                    {% if like == 0 %}Nenhuma curtida ainda {% else %}{{ like }} Curtida(s){% endif %}</span></a>
                            {% else %}
                                {% if PNG == 'unclick' %}
                                    <!-- ## setting Like / Not Liked status ## -->
                                    <a href="{{ url_for('cur.curtida', resenha_id=data.id) }}" style="color: #51cf66">
                                        <i class="fas fa-hand-pointer fa-2x" ></i>
                                    {% if like == 0 %} Nenhuma curtida ainda {% else %}{{ like }} Curtida(s)<br>Você Curtiu!
                                    {% endif %}</a>
                                {% else %}
                                    <a href="{{ url_for('cur.curtida', resenha_id=data.id) }}"  style="color: #676767">
                                    <span class="linkColor"><i class="far fa-hand-pointer fa-2x"></i>
                                    {% if like == 0 %}Nenhuma curtida ainda {% else %}{{ like }} Curtida(s){% endif %}</span></a>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            </table>

            <p class="font-weight-bolder bg-secondary text-white pt-1 pb-1 text-center">{{ data.nome_review }}</p>

            <div class="poster_image">
                {% if spotify.image == None %}
                <img class="imageResenhadoSmartphone" src="/static/img/bg-img/No-Image-Available.png" alt="">
                {% else %}
                <img class="imageResenhadoSmartphone" src="{{ spotify.image }}" alt="{{ spotify.name }}">
                {% endif %}
            </div>
            <!-- ##### Table Resenha Start ##### -->
            <table class="table_poster">
                <!-- # Defining name by the type of review # -->
                {% if data.tipo_review == 'album' or data.tipo_review == 'track' %}
                <tr>
                    <td class="resenha_titles pl-1">Artista:</td>
                    <td class="resenha_item">{{ spotify.artistName }}</td>
                </tr>
                <tr>
                    <td class="resenha_titles pl-1">Album:</td>
                    {% if data.tipo_review == 'track' %}
                    <td class="resenha_item">{{ spotify.albumName }}</td>
                    {% else %}
                    <td class="resenha_item">{{ spotify.name }}</td>
                    {% endif %}
                </tr>
                {% elif data.tipo_review == 'playlist' %}
                <tr>
                    <td class="resenha_titles pl-1">Nome:</td>
                    <td class="resenha_item">{{ spotify.name }}</td>
                </tr>
                {% else %}
                <tr>
                    <td class="resenha_titles pl-1">Banda / Artista:</td>
                    <td class="resenha_item">{{ spotify.name }}</td>
                </tr>
                {% endif %}
                {% if data.tipo_review == 'track' %}
                <tr>
                    <td class="resenha_titles pl-1">Música:</td>
                    <td class="resenha_item">{{ spotify.name }}</td>
                </tr>
                {% endif %}
                {% if data.tipo_review == 'album' or data.tipo_review == 'track' %}
                <tr>
                    <td class="resenha_titles pl-1">Release:</td>
                    <td class="resenha_item">{{ spotify.releaseDate }}</td>
                </tr>
                {% endif %}
                <tr>
                    <td class="resenha_titles pl-1">Sobre:</td>
                    {% if data.tipo_review == 'album' %}
                    <td class="resenha_item">um ALBUM completo</td>
                    {% elif data.tipo_review == 'artista' %}
                    <td class="resenha_item">Um ARTISTA ou BANDA</td>
                    {% elif data.tipo_review == 'track' %}
                    <td class="resenha_item">Uma MÚSICA</td>
                    {% else %}
                    <td class="resenha_item">Uma PLAYLIST</td>
                    {% endif %}
                </tr>
                <tr>
                    <td class="resenha_titles pl-1">Resenha:</td>
                    {% autoescape false %}
                    <td class="resenha_item">{{ data.review|replace('\n', "<br>") }}</td>
                    {% endautoescape %}
                </tr>
                <tr>
                    <td colspan="2" class="resenha_spotify"><iframe src="{{ spotify.radio }}" width="300" height="300"
                            frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe></td>
                </tr>
                <tr>
                    {% if session.id == user_author.id %}
                    <td class="resenha_titles"></td>
                    <td class="resenha_item"><a href="{{ url_for('res.resenhaEdit', id=data.id) }}">
                            <button type="submit" class="btn btn-primary btn-salvar" value="data.id">Editar</button></a>
                        <button type="button" class="btn btn-danger"
                            onclick="window.history.go(-1); return false;">Voltar</button>
                    </td>
                </tr>
                {% endif %}
                <tr>
                    {% if spotify.genres|length > 0 %}
                    <td class="resenha_titles pl-1">Gêneros:</td>
                    <td class="resenha_item">
                        {% for item in spotify.genres %}
                            {{ item|title }} |
                        {% endfor %}
                    {% endif %}
                    </td>
                </tr>

                <tr>
                    <td colspan="2" class="pl-2">
                        <!-- FB share button code -->
                       <i class="fab fa-facebook"></i><a target="_blank"
                         href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.resenhando.co%2Fresenhado%2F{{ data.id }}%2F&amp;src=sdkpreparse"
                         class="fb-xfbml-parse-ignore"><span class="linkColor"> Facebook</span></a>
                        &nbsp;<b>|</b>&nbsp;

                        <!-- WhatsApp Share Button -->
                        <i class="fab fa-whatsapp"> </i><a href="whatsapp://send?text=http://www.resenhando.co/resenhado/{{ data.id }}/"
                            data-action="share/whatsapp/share"><span class="linkColor"> Whatsapp</span></a>&nbsp;<b>|</b>&nbsp;

                        <!-- Copy to clipboard -->
                        <input type="hidden" value="http://www.resenhando.co/resenhado/{{ data.id }}/" id="myInput">

                        <div class="custom-tooltip">
                            <span class="glyphicon glyphicon-link"></span>
                            <a href="javascript:void(0);" id="btnCopyLink">
                                <span class="custom-tooltiptext" id="myTooltip">
                                    Copiar link</span>
                                <i class="fas fa-link"></i><span class="linkColor"> Copiar Link</span>
                            </a>
                        </div>

                    </td>
                </tr>
            </table>
            <!-- ##### Table Resenha End ##### -->
        </div>
    </section>
</main>
<!-- ##### Main Area End ##### -->
<section class="comments">
    <section class="container">
        {% if not session.id %}
        <p class="comments_text">Faça <a data-toggle="modal" data-target="#loginModal" href="#">login</a> para postar um comentário</p>
        {% else %}
        <form action="{{ url_for('com.comentario') }}" method="post" enctype="multipart/form-data">
            <input type="hidden" name="id" value="{{ data.id }}">
            <div class="comments_writing">
                <textarea id="comentario" name="comentario" class="form-control" rows="2" cols="3"
                    placeholder="Comente essa resenha:" required></textarea>
                <button type="submit" class="btn btn-link">Postar</button>
            </div>
            <br>
        </form>
        {% endif %}
    </section>
    <section class="container comments_result">
        {% for comment in commentsList|sort(attribute='id', reverse=true) %}
        {% for user in comment_user %}
        {% if comment.user_id == user.id %}
        {{ user.name }} {{ user.surname }}
        {% endif %}
        {% endfor %} em {{ comment.comment_date.strftime('%d/%m/%Y') }}:<br>
        <table class="comments_review">
            <tr>
                <td>{{ comment.review }}</td>
                {% if comment.user_id == session.id %}
                <td class="buttons">
                    <a href="{{ url_for('com.CommentDelete', comment_id=comment.id, resenha_id=data.id) }}">
                        <button type="submit" class="btn btn-link">deletar</button></a></td>
                {% endif %}
            </tr>
        </table>
        <br>
        {% endfor %}
    </section>
</section>


{% endblock %}