<!DOCTYPE html>
<html lang="en">

<head>
    <script data-ad-client="ca-pub-3957752655307381" async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>Resenhando.co</title>
    <!-- Favicon -->
    <link rel="icon" href="{{ url_for('static', filename='img/core-img/icon.ico') }}">
    <!-- Stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='site.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/resenhando.css') }}">

</head>

<main>
    <div class="container">
        <div class="card">
            <h5 class="card-header">
                Resenhas registradas
            </h5>
            <div class="card-body">
                <table class="table table-striped table-hover">
                    <thead class="thead-dark">
                        <tr class="d-flex">
                            <th class="col-sm-1">#</th>
                            <th class="col-sm-1">Author</th>
                            <th class="col-sm-2">Tipo de Review</th>
                            <th class="col-sm-5">Nome Review</th>
                            <th class="col-sm-2">Data Registro</th>
                            <th class="col-sm-1"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in reviewsArtist|sort(attribute='id', reverse=true) %}
                        <tr class="d-flex">
                            <td class="col-sm-1">{{ item.id }}</td>
                            <td class="col-sm-1">{{ item.author_id }}</td>
                            <td class="col-sm-2">{{ item.tipo_review }}</td>
                            <td class="col-sm-5">{{ item.nome_review }}</td>
                            <td class="col-sm-2">{{ item.date_register }}</td>
                            <td class="col-sm-1"><a data-url="{{ url_for('adm.ResenhasDelete', resenha_id=item.id) }}"
                                    class="btn btn-danger white delete">Delete</a></td>
                        </tr>
                        {% endfor %}

                        {% for item in reviewsAlbum|sort(attribute='id', reverse=true) %}
                        <tr class="d-flex">
                            <td class="col-sm-1">{{ item.id }}</td>
                            <td class="col-sm-1">{{ item.author_id }}</td>
                            <td class="col-sm-2">{{ item.tipo_review }}</td>
                            <td class="col-sm-5">{{ item.nome_review }}</td>
                            <td class="col-sm-2">{{ item.date_register }}</td>
                            <td class="col-sm-1"><a data-url="{{ url_for('adm.ResenhasDelete', resenha_id=item.id) }}"
                                    class="btn btn-danger white delete">Delete</a></td>
                        </tr>
                        {% endfor %}

                        {% for item in reviewsTrack|sort(attribute='id', reverse=true) %}
                        <tr class="d-flex">
                            <td class="col-sm-1">{{ item.id }}</td>
                            <td class="col-sm-1">{{ item.author_id }}</td>
                            <td class="col-sm-2">{{ item.tipo_review }}</td>
                            <td class="col-sm-5">{{ item.nome_review }}</td>
                            <td class="col-sm-2">{{ item.date_register }}</td>
                            <td class="col-sm-1"><a data-url="{{ url_for('adm.ResenhasDelete', resenha_id=item.id) }}"
                                    class="btn btn-danger white delete">Delete</a></td>
                        </tr>
                        {% endfor %}

                        {% for item in reviewsPlaylist|sort(attribute='id', reverse=true) %}
                        <tr class="d-flex">
                            <td class="col-sm-1">{{ item.id }}</td>
                            <td class="col-sm-1">{{ item.author_id }}</td>
                            <td class="col-sm-2">{{ item.tipo_review }}</td>
                            <td class="col-sm-5">{{ item.nome_review }}</td>
                            <td class="col-sm-2">{{ item.date_register }}</td>
                            <td class="col-sm-1"><a data-url="{{ url_for('adm.ResenhasDelete', resenha_id=item.id) }}"
                                    class="btn btn-danger white delete">Delete</a></td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</main>
<!-- ##### All Javascript Files ##### -->
<!-- jQuery-2.2.4 js -->
<script src="{{ url_for('static', filename='js/jquery/jquery-2.2.4.min.js') }}"></script>
<!-- Bootstrap js -->
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<!-- All Plugins js -->
<script src="{{ url_for('static', filename='js/plugins/plugins.js') }}"></script>
<!-- Active js -->
<script src="{{ url_for('static', filename='js/active.js') }}"></script>
<!-- Delete js -->
<script src="{{ url_for('static', filename='js/delete.js') }}"></script>

</html>