<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Google adsense script -->
    <script data-ad-client="pub-3957752655307381" async src="https://pagead2.googlesyndication.com/
    pagead/js/adsbygoogle.js"></script>

    <link href='http://www.resenhando.co/' rel='canonical' />

    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>Resenhando.co</title>
    <!-- Favicon -->
    <link rel="icon" href="{{ url_for('static', filename='img/core-img/icon.ico') }}">
    <!-- Stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='site.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='resenhado.css') }}">

</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <i class="circle-preloader"></i>
        <img src="{{ url_for('static', filename='img/core-img/pencil.png') }}" alt="">
    </div>
    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
        <!-- Top Header Area -->
        <div class="top-header-area">
            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-between">
                    <!-- Breaking News -->
                    <div class="col-12 col-sm-6">
                        <div class="breaking-news">
                            <div id="breakingNewsTicker" class="ticker">
                                <ul>
                                    <li><font color="grey">Resenhas de músicas</font></li>
                                    <li><font color="grey">Escreva uma resenha</font></li>
                                    <li><font color="grey">Ouça a playlist baseada nas resenhas!</font></li>
                                    <li><font color="grey">Comenta e curta as resenhas</font></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Login Area -->
                    <div class="col-12 col-sm-6">
                        <div class="login">
                            {% if session['id'] == '' %}
                            <div class="btn" style="padding-right: 0;">
                                <a href="{{ url_for('log.login') }}">Fazer login | Cadastrar-se</a></div>
                            {% else %}
                            <div class="btn" style="padding-right: 0;">
                                <a id="editAccount" href="{{ url_for('use.editAccount') }}">
                                    <button type="button" class="btn btn-link logout">{{ session['name'] }} {{ session['surname'] }}</button></a></div>
                            <div class="btn" style="padding-right: 0;">| <a id="logout" href="{{ url_for('log.logout') }}">
                                <button type="button" class="btn btn-link logout">Logout</button></a></div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Navbar Area -->
        <div class="delicious-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="deliciousNav">
                        <!-- Logo -->
                        <a class="nav-brand" href="{{ url_for('ind.home') }}">
                            <img src="{{ url_for('static', filename='img/core-img/logo.png') }}" alt=""
                                class="logo_smartphone">
                        </a>
                        <!-- Navbar Toggler -->
                         <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        {% include 'partials/mainMenu.html' %}
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->
    <!-- ##### Flask Messages start ##### -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
        <!-- <strong>Title</strong> --> {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <!-- ##### Flask Messages end ##### -->
    <!-- Python Block -->
    {% block content %} {% endblock %}

    {% include 'partials/footer.html' %}

    <!-- ##### All Javascript Files ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="{{ url_for('static', filename='js/jquery/jquery-2.2.4.min.js') }}"></script>
    <!-- Popper js -->
    <script src="{{ url_for('static', filename='js/bootstrap/popper.min.js') }}"></script>
    <!-- Bootstrap js -->
    <script src="{{ url_for('static', filename='js/bootstrap/bootstrap.min.js') }}"></script>
    <!-- Bootbox -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.4.0/bootbox.min.js"></script>
    <!-- All Plugins js -->
    <script src="{{ url_for('static', filename='js/plugins/plugins.js') }}"></script>
    <!-- Active js -->
    <script src="{{ url_for('static', filename='js/active.js') }}"></script>
</body>

</html>