<!DOCTYPE html>
<html lang="en">

<head>

    <link href='http://www.resenhando.co/' rel='canonical' />

    <meta charset="UTF-8">
    <meta name="description" content="Escreva e leia resenhas de Artistas, Bandas, Músicas, Álbuns e Playlists,
além da opção de rádios e imagens dos Artistas e Álbuns">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>Resenhando.co - Escreva resenhas de Artistas, Bandas e Músicas</title>
    <!-- Favicon -->
    <link rel="icon" href="{{ url_for('static', filename='img/core-img/icon.ico') }}">
    <!-- Stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='site.css') }}">

    <!-- Metas for Facebook -->
    <meta property="fb:app_id"        content="667696240514491" />
    <meta property="og:type"          content="website" />

    {% if 'resenhado' not in request.path %}
    <meta property="og:url"           content="http://www.resenhando.co" />
    <meta property="og:title"         content="resenhando.co" />
    <meta property="og:description"   content="Resenhas de artistas e albums" />
    <meta property="og:image"         content="http://www.resenhando.co{{ url_for('static', filename='img/core-img/socialMedia.png') }}" />
    {% else %}
    <meta property="og:url"           content="http://www.resenhando.co{{ request.path }}" />
    <meta property="og:title"         content="{{ data.nome_review }}" />
    <meta property="og:description"   content="{{ data.review[0:50] }}..." />
    <meta property="og:image"         content="{{ spotify.image }}" />
    {% endif %}
</head>

<body>
    <!-- Get last URL -->
    {% do session.update({'lastURL': request.url}) %}

    <!-- Preloader -->
    <div id="preloader">
        <i class="circle-preloader"></i>
        <img src="{{ url_for('static', filename='img/core-img/pencil.png') }}" alt="resenhando.co">
    </div>
    <!-- ##### Header Area Start ##### -->
    <header class="header-area py-0 my-0">
        <div class="delicious-main-menu py-0 my-0">
            <!-- Main Menu -->
            {% include 'partials/mainMenu.html' %}
        </div>
    </header>
    <!-- ##### Header Area End ##### -->


    <!-- ##### Flask Messages start ##### -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <!-- <strong>Title</strong> --> {{ message }}
                    </div>
                {% endfor %}
        {% endif %}
    {% endwith %}
    <!-- ##### Flask Messages end ##### -->

    <!-- Python Block Start -->
        {% block content %} {% endblock %}

        {% include 'partials/footer.html' %}

        <!-- Modal for authentication -->
        {% include 'partials/modalLogin.html' %}
    <!-- Python Block End -->

    <!-- ##### All Javascript Files ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="{{ url_for('static', filename='js/jquery/jquery-2.2.4.min.js') }}"></script>
    <!-- Bootstrap js 4.5.2 -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" async></script>
    <!-- Font Awasome -->
    <script src="https://kit.fontawesome.com/7063f4dbe2.js" crossorigin="anonymous" async></script>
    <!-- All Plugins js -->
    <script src="{{ url_for('static', filename='js/plugins/plugins.js') }}" async></script>
    <!-- Active js -->
    <script src="{{ url_for('static', filename='js/active.js') }}" async></script>
    <!-- delete resenhas in ADM js -->
    <script src="{{ url_for('static', filename='js/deleteResenha.js') }}" async></script>
     <!-- Horizontal Menu in Index js -->
    <script src="{{ url_for('static', filename='js/horizontalMenu.js') }}" async></script>
     <!-- Notifications js -->
    <script src="{{ url_for('static', filename='js/notifications.js') }}" async></script>
    <!-- Menu in resenhaIndex.html js -->
        <script src="{{ url_for('static', filename='js/resenhaIndex.js') }}" async></script>
    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script src="{{ url_for('static', filename='js/facebook.js') }}" async></script>

</body>
</html>