{% extends 'base.html' %}
{% block content %}

    <!-- ##### 'Resenhas' Area Start ##### -->
    <section class="best-receipe-area">
        <div class="container">
            <div class="row">
                {% for resenha in resenhas|sort(attribute='id', reverse=true) %}
                <!-- Single 'Resenhas' Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-best-receipe-area mb-30">
                        <a href="{{ url_for('resenhado', id=resenha.id) }}">
                            {% if resenha.image_file == None %}
                                <img src="../static/uploads/No-Image-Available.png" alt="" width="500px" height="500px">
                            {% else %}
                                <img src="/static/uploads/{{ resenha.image_file }}" alt="" width="500px" height="500px">
                            {% endif %}
                        </a>
                            <div class="receipe-content">
                                <a href="{{ url_for('resenhado', id=resenha.id) }}">
                                    <h5>{{ resenha.nome_review }}</h5>
                                    <h5>{{ resenha.nome_banda }}</h5>
                                    {% for user in users %}
                                        {% if user.id == resenha.author_id %}
                                            <h5>Autor: {{ user.name }} {{ user.surname }}</h5>
                                    {% endif %} {% endfor %}
                                </a>
                            </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- ##### 'Resenhas' Area End ##### -->
{% endblock %}
