{% extends 'base.html' %}
{% block content %}

    <!-- ##### 'Resenhas' Area Start ##### -->
    <section class="best-receipe-area">
        <div class="container">
            <div class="row">
                {% for resenha in resenhas %}
                <!-- Single 'Resenhas' Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-best-receipe-area mb-30">
                        <a href="{{ url_for('resenhado', id=resenha.id) }}">
                            {% if resenha.image_file == None %}
                                <img src="{{ url_for('static', filename='img/bg-img/No-Image-Available.png') }}" alt="">
                            {% endif %}
                                <img src="../static/{{ resenha.image_file }}" alt="">

                            <div class="receipe-content">
                                <h5>{{ resenha.nome_banda }}</h5>
                                <h5>{{ resenha.nome_review }}</h5>
                        </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- ##### 'Resenhas' Area End ##### -->

{% endblock %}
