{% extends 'base.html' %}
{% block content %}
<!-- ##### 'Resenhas' Area Start ##### -->
<section class="pt-4">
    <div class="container reShapeIndex">


        <!-- Ordering by ARTIST Area Beginning-->

        <!-- Main Filter -->
        {% if mainFilter == 'artist' or mainFilter == 'index' %}
        <p class="text-secondary pl-1">Últimas resenhas de Bandas e Artistas</p>

        <div class="index-menu-wrapper">
            <ul class="index-menu">
                {% for review in reviewsArtist|sort(attribute='date_register', reverse=true) %}
                    <li class="index-item">
                        {% for spotify in spotifyArtist %}

                        <!-- partials indexTiles.html -->
                        {% include 'partials/indexTiles.html' %}

                        {% endfor %}
                    </li>
                {% endfor %}
            </ul>

            <div class="paddles">
                <button class="left-paddle paddle hidden bg-secondary border-0">
                    <h3 class=" text-white"><i class="fas fa-arrow-circle-left"></i></h3>
                </button>
                <button class="right-paddle paddle bg-secondary border-0">
                    <h3 class=" text-white"><i class="fas fa-arrow-circle-right"></i></h3>
                </button>
            </div>
        </div>

        <hr>
        {% endif %}
        <!-- Ordering by ARTIST Area Ending-->


        <!-- Ordering by ALBUM Area Beginning-->

        <!-- Main Filter -->
        {% if mainFilter == 'album' or mainFilter == 'index' %}

        <p class="text-secondary pl-1">Últimas resenhas de Álbuns</p>
        <div class="index-menu-wrapper">
            <ul class="index-menu">
                {% for review in reviewsAlbum|sort(attribute='date_register', reverse=true) %}
                    <li class="index-item">
                        {% for spotify in spotifyAlbum %}

                        <!-- partials indexTiles.html -->
                        {% include 'partials/indexTiles.html' %}

                        {% endfor %}
                    </li>
                {% endfor %}
            </ul>

            <div class="paddles">
                <button class="left-paddle paddle hidden bg-secondary border-0">
                    <h3 class=" text-white"><i class="fas fa-arrow-circle-left"></i></h3>
                </button>
                <button class="right-paddle paddle bg-secondary border-0">
                    <h3 class=" text-white"><i class="fas fa-arrow-circle-right"></i></h3>
                </button>
            </div>
            </div>

        <hr>
        {% endif %}
        <!-- Ordering by ALBUM Area Ending-->


        <!-- Ordering by TRACK Area Beginning-->

        <!-- Main Filter -->
        {% if mainFilter == 'track' or mainFilter == 'index' %}

        <p class="text-secondary pl-1">Últimas resenhas de Músicas</p>
        <div class="index-menu-wrapper">
            <ul class="index-menu">
                {% for review in reviewsTrack|sort(attribute='date_register', reverse=true) %}
                    <li class="index-item">
                        {% for spotify in spotifyTrack %}

                        <!-- partials indexTiles.html -->
                        {% include 'partials/indexTiles.html' %}

                        {% endfor %}
                    </li>
                {% endfor %}
            </ul>

            <div class="paddles">
                <button class="left-paddle paddle hidden bg-secondary border-0">
                    <h3 class=" text-white"><i class="fas fa-arrow-circle-left"></i></h3>
                </button>
                <button class="right-paddle paddle bg-secondary border-0">
                    <h3 class=" text-white"><i class="fas fa-arrow-circle-right"></i></h3>
                </button>
            </div>
        </div>

        <hr>
        {% endif %}
        <!-- Ordering by TRACK Area Ending-->

        <!-- Ordering by PLAYLIST Area Beginning-->

        <!-- Main Filter -->
        {% if mainFilter == 'playlist' or mainFilter == 'index' %}

        <p class="text-secondary pl-1">Últimas resenhas de Playlists</p>
        <div class="index-menu-wrapper">
            <ul class="index-menu">
                {% for review in reviewsPlaylist|sort(attribute='date_register', reverse=true) %}
                    <li class="index-item">
                        {% for spotify in spotifyPlaylist %}

                        <!-- partials indexTiles.html -->
                        {% include 'partials/indexTiles.html' %}

                        {% endfor %}
                    </li>
                {% endfor %}
            </ul>

            <div class="paddles">
                <button class="left-paddle paddle hidden bg-secondary border-0">
                    <h3 class=" text-white"><i class="fas fa-arrow-circle-left"></i></h3>
                </button>
                <button class="right-paddle paddle bg-secondary border-0">
                    <h3 class=" text-white"><i class="fas fa-arrow-circle-right"></i></h3>
                </button>
            </div>
        </div>

        <hr>
        {% endif %}
        <!-- Ordering by PLAYLIST Area Ending-->

    </div>
</section>
<!-- ##### 'Resenhas' Area End ##### -->
{% endblock %}