{% extends 'base.html' %}
{% block content %}
        <!-- ##### Main Area Start ##### -->
    <main>
        <div class="container">
            <div class="mainmenu_bodytext">
                <h1>Log in</h1><br>
            </div>
                <!-- Nav Start -->
                <div class="classynav">
                    <ul>
                        <form method="POST" action="{{ url_for('authenticate') }}">
                            <li><label>Username:</label> <input class="form-control" type="text" id="username" name="username" required></li>
                            <li><label>Senha:</label> <input class="form-control" type="password" id="password" name="password" required></li>
                            <li><button type="submit" class="btn btn-info">Logar</button></li>
                    </ul>
                </div>
                <!-- Nav End -->
        </div>
    </main>
{% endblock %}