{% extends 'base.html' %}
{% block content %}
        <!-- ##### Main Area Start ##### -->
        <main class="main_results">
            <section class="poster_more_details">
                <div>
                    <p class="resenha_titles">Resenha escrita em: {{ date }}</p>
                    <p class="resenha_titles">Autor: {{ user.name }} {{ user.surname }}</p>

                    <div class="poster_image">
                        {% if data.image_file == None %}
                            <img src="/static/uploads/No-Image-Available.png" alt="">
                        {% else %}
                            <img src="/static/uploads/{{ data.image_file }}" alt="">
                        {% endif %}
                    </div>

                    <!-- ##### Table Resenha Start ##### -->
                    <table class="table_poster">
                        <tr>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td class="resenha_titles">{{ data.nome_review }}</td>
                        </tr>
                        <tr>
                            <td class="resenha_titles">Banda / Artista:</td>
                            <td class="resenha_item">{{ data.nome_banda }}</td>
                        </tr>
                        <tr>
                            <td class="resenha_titles">Resenha:</td>
                            <td class="resenha_item">{{ data.review }}</td>
                        </tr>
                        <tr>
                            <td class="resenha_titles">Link do Spotify:</td>
                            <td class="resenha_item">{{ data.spotify_link }}
                        </tr>
                    </table>
                    <!-- ##### Table Resenha End ##### -->

                </div>
            </section>
        </main>
        </div>
        <!-- ##### Main Area End ##### -->
{% endblock %}