{% extends 'base.html' %}
{% block content %}
<!-- ##### Main Area Start ##### -->
<main class="container">
    <section class="poster_more_details">
        <div>
            <p class="resenha_titles">Resenha escrita em: {{ date }}</p>
            <p class="resenha_titles">Autor: {{ user_author.name }} {{ user_author.surname }}</p>

            <!-- ## like/deslike buttons ## -->
            <table class="like">
                <tr>
                    <td>{% if PNG == 'unclick' %}
                        <a href="{{ url_for('cur.curtida', resenha_id=data.id) }}">
                            <img src="{{ url_for('static', filename='img/core-img/like_unclick.png') }}" alt=""></a>
                        {% else %}
                        <a href="{{ url_for('cur.curtida', resenha_id=data.id) }}">
                            <img src="{{ url_for('static', filename='img/core-img/like_click.png') }}" alt=""></a>
                        {% endif %}
                    </td>

                    <td>
                        {% if like == 0 %} Zero {% else %}{{ like }}{% endif %}
                        {% if like == 1 %} pessoa curtiu essa resenha
                        {% else %}pessoas curtiram essa resenha{% endif %}
                    </td>
                </tr>
                <tr>
                    <td></td>
                </tr>
            </table>

            <div class="poster_image">
                {% if data.image_file == None %}
                <img src="/static/uploads/No-Image-Available.png" alt="">
                {% else %}
                <img src="{{ data.image_file }}" alt="">
                {% endif %}
            </div>
            <!-- ##### Table Resenha Start ##### -->
            <table class="table_poster">
                <tr>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td class="resenha_titles">{{ data.nome_review }}</td>
                </tr>
                <tr>
                    <td class="resenha_titles">Banda / Artista:</td>
                    <td class="resenha_item">{{ data.nome_banda }}</td>
                </tr>
                <tr>
                    <td class="resenha_titles">Sobre:</td>
                    {% if data.tipo_review == 'album' %}
                    <td class="resenha_item">um ALBUM completo</td>
                    {% elif data.tipo_review == 'track' %}
                    <td class="resenha_item">Uma MÚSICA de um album</td>
                    {% else %}
                    <td class="resenha_item">Uma PLAYLIST</td>
                    {% endif %}
                </tr>
                <tr>
                    <td class="resenha_titles">Resenha:</td>
                    {% autoescape false %}
                    <td class="resenha_item">{{ data.review|replace('\n', "<br>") }}</td>
                    {% endautoescape %}
                </tr>
                <tr>
                    <td colspan="2" class="resenha_spotify"><iframe src="{{ data.spotify_link }}" width="300"
                            height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe></td>
                </tr>
                {% if session.id == user_author.id %}
                <td class="resenha_titles"></td>
                <td class="resenha_item"><a href="{{ url_for('res.editar_resenha', id=data.id) }}">
                        <button type="submit" class="btn btn-link" value="data.id">Editar</button></a>
                </td>
                </tr>
                {% endif %}
            </table>
            <!-- ##### Table Resenha End ##### -->
        </div>
    </section>
</main>
<!-- ##### Main Area End ##### -->
<section class="comments">
    <section class="container">
        <p class="comments_text">Faça login para postar um comentário</p>
        {% if session.id %}
        <form action="{{ url_for('com.comentario') }}" method="post" enctype="multipart/form-data">
            <input type="hidden" name="id" value="{{ data.id }}">
            <div class="comments_writing">
                <textarea id="comentario" name="comentario" class="form-control" rows="2" cols="3"
                    placeholder="Comente essa resenha:" required></textarea>
                <button type="submit" class="btn btn-link">Postar</button>
            </div>
            <br>
        </form>
        {% endif %}
    </section>
    <section class="container comments_result">
        {% for comment in comments|sort(attribute='id', reverse=true) %}
        {% for user in comment_user %}
        {% if comment.user_id == user.id %}
        {{ user.name }} {{ user.surname }}
        {% endif %}
        {% endfor %} em {{ comment.comment_date.strftime('%d/%m/%Y') }}:<br>
        <table class="comments_review">
            <tr>
                <td>{{ comment.review }}</td>
                {% if comment.user_id == session.id %}
                <td class="buttons">
                    <a data-url="{{ url_for('com.CommentDelete', comment_id=comment.id, resenha_id=data.id) }}" class="delete">
                        <button type="submit" class="btn btn-link">deletar</button></a></td>
                {% endif %}
            </tr>
        </table>
        <br>
        {% endfor %}
    </section>
</section>
{% endblock %}