{% extends 'base.html' %}
{% block content %}


    <!-- ##### 'Resenha' Area Start ##### -->
    <section class="best-receipe-area">
        <div class="container">
            <div class="row">

                <div class="col-12 col-sm-6 col-lg-4">

                <!-- ##### Form Edit Start ##### -->
                <form action="{{ url_for('nova_resenha') }}" method="post" enctype="multipart/form-data">
                    <figure class="thumb col-md-4">
                        <img class="img-responsive" src="{{ url_for('imagem', nome_arquivo='No-Image-Available.png') }}">
                        <figcaption>
                            <label class="fileContainer">
                            Definir capa
                            <input type="file" name="image_file" id="image_file">
                            </label>
                        </figcaption>
                    </figure>

                    <fieldset>
                        <div class="form-grup">
                            <label for="tipo_review">Tipo de Review</label>
                            <select id="tipo_review" name="tipo_review" class="form-control">
                                <option value="disco" selected>Um disco inteiro</option>
                                <option value="musica">Uma música somente</option>
                            </select>
                            <br>

                            <br>
                            <label for="nome_review">Titulo da Review</label>
                            <input id="nome_review" name="nome_review" class="form-control">
                            <br>

                            <label for="nome_banda">Nome da Banda</label>
                            <input id="nome_banda" name="nome_banda" class="form-control">
                            <br>

                            <label for="review">Resenha</label>
                            <textarea id="review" name="review" class="form-control" rows="10" cols="50">Sua resenha aqui!
                            </textarea>
                            <br>

                            <label for="spotify_link">Link do Spotify</label>
                            <input id="spotify_link" name="spotify_link" class="form-control">
                            <br>

                            <button type="submit" class="btn btn-primary btn-salvar">Enviar resenha</button>
                            <a class="btn btn-danger" href="{{ url_for('home') }}">Voltar</a>
                            <br>
                        </div>
                    </fieldset>
                </form>
                    <div>
                        {% for category, message in get_flashed_messages(with_categories=True) %}
                        {{ message }}
                        {% endfor %}
                    </div>


                <!-- ##### Form Edit End ##### -->

                </div>
            </div>
        </div>
    </section>
    <!-- ##### 'Resenha' Area End ##### -->
{% endblock %}
