{% extends 'base.html' %}
{% block content %}
<!-- ##### Main Area Start ##### -->
<main>
    <div class="container">
        <div class="mainmenu_bodytext">
            <h1>Sobre a página</h1><br>
        </div>
        <!-- Nav Start -->
        <div class="classynav">
            <p>Esse projeto foi iniciado em Junho de 2020.<br>Resenhando foi criado para que amantes de música possam expressar em palavras os seus sentimentos
                em relação a uma certo Artista, Banda, Disco ou Música.
                <br>O tema é livre desde que seja sobre música</p>
            <p>
                Vá em frente e faça a sua resenha, mas por favor, atente-se a certos detalhes:
            </p>
            <ol class="sobre_list">
                <li>&nbsp; - Inicie pesquisando por um artista, se desejar fazer a resenha de um album, clique no link e a
                    lista de albuns aparecerá na proxima tela</li>
                <li>&nbsp; - Evite o uso de palavras de baixo calão, apesar de não serem proibidas,
                    nem todo mundo se sente confortável lendo isso.</li>
                <li>&nbsp; - Curta e Comente nas resenhas de outras pessoas.</li>
                <li>&nbsp; - Divirta-se!</li>
                <li>&nbsp;&nbsp;&nbsp;<font color="#f87272"> ...Ah, o botão de Curtir está desabilitado para as suas próprias resenhas.
                    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Curtir os próprio post? &nbsp;Aqui não!</font></li>

            </ol>
        </div>
        <!-- Nav End -->
        <div class="mainmenu_bodytext">
            <p>&nbsp;</p>
            <h1>Sobre nós</h1><br>
        </div>
        <!-- Nav Raphael Start -->
        <div class="classynav">
            <p><b>Raphael Cordon</b> - Idealizador desse projeto, atualmente morando em Zurique, Suiça.<br>
                Sou Gerente de Projetos de TI há quase 10 anos e esse site faz parte de um conjunto de aplicativos
                que tenho preparado para formar um portifólio de desenvolvimento de Software com forte foco em Python.
            </p>
            <p>
                Esse é o primeiro (e provavelmente o unico) site a ser construido em portugues, foi feito dessa forma
                para que eu coloque em teste com multiplos usuários,<br> como a maioria dos meus amigos falam portugues
                eu entendi que faria mais sentido.</p>
            <p>
                Os demais aplicativos podem ser encontrados no meu site pessoal: &nbsp;&nbsp;<a
                    href="http://www.raphaelcordon.com" target="_blank">raphaelcordon.com</a>
            </p>
        </div>
        <!-- Nav Raphael End -->

        <hr/>

        <!-- Nav Raphael Start -->
        <div class="classynav">
            <p><b>Rodrigo Sória</b> - Esse espaço é para que o Rodrigo Sória se resuma :).
            </p>

        </div>
        <!-- Nav Raphael End -->

    </div>
</main>
<!-- ##### Main Area End ##### -->
<!-- ##### Footer Start ##### -->
<footer>
    <a href="http://www.raphaelcordon.com/" target="_blank">
        <img src="{{ url_for('static', filename='img/core-img/main_logo_white.png') }}" class="footer_logo"
            alt="raphaecordon.com"></a>
    <p>&copy; Raphael Cordon - 2020</p>
</footer>
<!-- ##### Footer End ##### -->
{% endblock %}