{% extends 'base.html' %}
{% block content %}
<!-- ##### Main Area Start ##### -->
<main class="container">

    <!-- ##### Form Edit Start ##### -->
    <div>
        <form action="{{ url_for('tes.pesquisa') }}" method="post" enctype="multipart/form-data">
            <fieldset class="resenha_smartphone">
                <div class="classynav">
                    <ul>
                        <li><input id="artista" name="artista" class="form-control"
                        placeholder="Pesquisar artista" required></li>
                    </ul>
                </div>
            </fieldset>
        </form>
        <br>
        <p>Artistas/Bandas encontrados:</p>
    </div>
    <!-- ##### Form Edit End ##### -->

    <!-- ##### Artist info begining ##### -->
    {% for artist in artists %}
    
    <h2>{{ artist.name }}</h2>
    <section class="poster_more_details">
    <div>
        <div class="image_artist">
            <img src="{{ artist.image }}">
        </div>

        <table class="table_poster">
                <tr>
                    <td class="resenha_titles">Fazer uma resenha:</td>
                </tr>
                <tr>
                    <td class="resenha_item">
                        <a href="#" class="btn btn-link">Do artista</a></td>
                </tr>
                <tr>
                    <td class="resenha_item"><a href="#" class="btn btn-link">Um album desse artista</a></td>
                </tr>
                <tr>
                    <td class="resenha_item"><a href="#" class="btn btn-link">Uma música</a></td>
                </tr>
        </table>
    </div>
    </section>
    <hr/>
    {% endfor %}
    <!-- ##### Artist info end ##### -->

</main>
{% endblock %}